:root {
    --max-width: 1140px;
    --md1:1152px;
    --md2:991.98px;
    --md3:767.98px;
}


.container{
   margin:0 auto;
   max-width:var(--max-width);
}
@media screen  and (max-width:1152px){
    .container{
        max-width: 970px;
    }
}

@media screen  and (max-width:991.98px){
    .container{
        max-width: 750px;
    }
}

@media screen  and (max-width:767.98px){
    .container{
        max-width: none;
        padding:0 15px;
    }
}