*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(201, 52, 52, 0.705);
      }
      70% {
          box-shadow: 0 0 0 3px rgba(201, 52, 52, 0.705);
      }
      
}
body{
    height: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

/*********<HEADER COMPONENT START>*********/

.header {
    padding:10px 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(107, 107, 107, 0.445);
    position: sticky;
    top:0;
    width:100%;
    z-index: 100;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 25px 0 25px;
}
@media screen and (max-width:767.98px) {
    .header__container{
        padding-left:10px;
        padding-right: 10px;;
    }
}
.header__logo {
    display: block;
    flex:0 0 300px;
    cursor: pointer;
}
.header__logo img{
    width:100%;
    max-width: 250px;
    object-fit: cover;
    max-height: 75px;
}
.header__search {
    display: flex;
    flex:0 1 700px;
}
.header__search-icon{
    width:30px;
    height:40px;
    cursor: pointer;
    position: relative;
}

.header__search-icon:hover svg{
    color:black
}

.header__search-icon svg{
    width:60%;
    height:60%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    transition: all 0.5s ease-in-out;
}



.header__search-input{
    font-size:14px;
    width:100%;
    padding:10px 0 10px 15px;
    border:2px solid rgba(190, 189, 189, 0.753);
    border-radius: 5px;
    outline: none;
    align-self: flex-start;
    transition: all 0.5s ease-in-out;
}
.header__search-input:focus{
    border:2px solid rgba(68, 88, 206, 0.753);
}

.header__search-block{
    position: relative;
    flex:1 1;
}

.header__search--searchEl{
    position: absolute;
    right:0;
    top:0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(180, 179, 179);
    transition: all 0.5s ease-in-out;
}
.header__search--searchEl:hover{
    background-color: rgb(155, 155, 155);
}

.header__search--microEl{
    color:rgb(131, 131, 131);
    margin-left:5px;
}

.header__search--microEl svg{
    width:65%;
    height: 65%;
}

.header__userBlock {
    flex:0 0 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__user {
    width:35px;
    height:35px;
    position: relative;
    border-radius: 50%;
    background-color: rgb(243, 141, 9);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.header__user:hover{
    background-color: rgb(177, 173, 168);
}
.header__user:hover > .header__userDropList-wrapper{
    display: flex;
}

.header__userBlock-icon{
    width:30px;
    height:40px;
    position: relative;
    color:rgb(131, 131, 131);
    margin-right: 15px;
    cursor: pointer;
}
.header__userBlock-icon:hover svg{
    color:black
}
.header__userBlock-icon svg{
    width:80%;
    height:80%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    transition: all .5s ease-in-out;
}

.header__user-icon{
    position: absolute;
    width:50%;
    height:50%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.header__userDropList-wrapper{
    display: none;
    padding-top:8px;
    position: absolute;
    top: 100%;
    left:-105px;
    z-index: 1000;
}
.header__userDropList {
    box-sizing: content-box;
    
    display: flex;
    flex-direction: column;
    min-width:150px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 2px 0px rgba(133, 133, 133, 0.712);
   
    overflow: hidden;
}

.header__userDropList:hover{
    display: flex;
}

.userDropList__item{
    padding:5px 0 5px 10px;
}
.userDropList__item:hover{
    background-color: rgba(199, 198, 198, 0.781);
}

.userDropList__item a{
    display: flex;
    align-items: center;
}

.userDropList__icon{
    width:20px;
    height:20px;
    position: relative;
    margin-right:10px;
}
.userDropList__icon svg{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:80%;
    height:80%
}

.userDropList__item:not(:last-child){
    border-bottom: 1px solid rgb(207 207 207);
}

.userDropList__item--logOuts{
    color:red;
}

/*********</HEADER COMPONENT END>*********/

/*********<ASIDE COMPONENT START>*********/

.box-container{
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 30px;
}
@media screen and (max-width:1200px) {
    .box-container{
        grid-template-columns: 80px 1fr;
    }
}
.asideBar {
    background-color:rgb(224, 224, 224);
    width:300px;
    position: fixed;
    left:0;
    height: 100%;
    overflow: auto;
}


.aside-bar-pseudo{
    min-width: 300px
}

.asideBar__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
}
.asideBar__srtimers {
    flex:1 1 auto;
    display: flex;
    overflow:auto;
    flex-direction: column;

}

.asideBar__srtimers--item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding:15px 15px 15px 25px;
    transition: all 0.5s ease-in-out;
    
}
.asideBar__srtimers--item:hover{
    background-color: rgb(184, 183, 183);
}
.asideBar__srtimers--img {
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    margin-right:10px;
}

.asideBar__srtimers--img img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:85%;
    object-fit: cover;
    object-position: center;
}
.asideBar__srtimers--item--online .asideBar__srtimers--number::before{
    content: "";
    display: block;
    width:10px;
    height: 10px;
    position: absolute;
    top:3px;
    left:-20px;
    border-radius: 50%;
    background-color: rgb(199, 30, 30);
    animation: pulse 2s ease-in-out 1.5s infinite;
}


.asideBar__srtimers--name {
    font-size:20px;
    text-overflow: ellipsis;
    max-width:150px;
    white-space: nowrap;
    overflow: hidden;
    color:black;
    transition: all 0.5s ease-in-out;
}
.asideBar__srtimers--name:hover{
    color:rgb(65, 62, 238)
}
.asideBar__srtimers--number {
    margin-left: auto;
    position: relative;
}

.asideBar__info{
  display: flex;
  flex:0 0 250px;
  padding:15px 15px;
  box-sizing: content-box;
  flex-direction: column;
  background-color: rgb(224, 224, 224); 
  border-top:1px solid #fff;  
}

.asideBar__info-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(209, 205, 205); 
    border-radius: 5px;
    
}
.asideBar__info-content h2{
    text-align: center;
    margin:20px 0 20px 0;
    font-size:20px;
}
.asideBar__info-content h2::selection{
    background-color: rgb(250, 163, 2);
    color:white;
}

.asideBar__links-block{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:20px;
}

.asideBar__link-item{
    width:25px;
    height:25px;
    cursor: pointer;

}
.asideBar__link-item:hover svg{
    color:rgb(44, 187, 212);
}

.asideBar__link-item svg{
    transition:all 1s ease-in-out;
}
.asideBar__link-item:not(:last-child){
    margin-right:30px;
}

@media screen and (max-width:1200px) {
    .asideBar{
        width:80px;
    }
    .aside-bar-pseudo{
        width: 80px
    }
    .asideBar__srtimers--item{
        padding:10px;
    }
    .asideBar__srtimers--item:last-child{
        margin-bottom: 30px;
    }
    .asideBar__srtimers--name{
        display: none;
    }
    .asideBar__srtimers--number {
        display: none;
    }
    .asideBar__info{
        display: none;
    }
    .asideBar__srtimers--img{
        margin:0 auto;
    }
}
.main-screen{
    padding-top:25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
   
}
.main__wrapper{
    flex:1 1 auto;
    display: flex;
    flex-direction: column;
}
/*********</ASIDE COMPONENT END>*********/

/*********<Сategories COMPONENT START>*********/
.categories {
}
.categories__container {
    overflow-x: auto ;
    display: flex;
    align-items: flex-start;
}
.categories__item {
    flex:0 0 80px;
    text-align: center;
    padding:5px 15px;
    background-color: rgb(201, 198, 198);
    border-radius: 15px;
    font-size:16px;
    margin-right:25px;
    margin-bottom:10px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.categories__item:hover{
    background-color: rgb(155, 153, 153);
}

.categories__item--active{
    color:white;
    background-color: rgb(252, 185, 1);
}

.categories__item--active:hover{
    background-color: rgb(252, 185, 1);
}

/*********</Сategories COMPONENT END>*********/

/*********<Videos COMPONENT START>*********/
.videos {
    margin-top:100px;
}
.videos__container {
    padding-right:25px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    column-gap: 20px;
    row-gap: 20px;
}
.videos__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.videos__img {
    display: block;
    margin-bottom: 10px;
    width:100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.videos__img:hover .videos__img-overfloy{
    transform: translateY(0);
}

.videos__img-overfloy{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 1;
    transform: translateY(-500px);
    transition: all 0.5s ease-in-out;
    background-color: rgba(29, 29, 29, 0.288);
}
.videos__img-overfloy svg{
    width: 50px;
    height: 50px;
    position: absolute;
    top:50%;
    left:50%;
    color:#fff;
    transform: translate(-50%,-50%);
}

.videos__img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.videos__info {
    display: flex;
    width:100%;
}
.videos__photo {
    margin-right: 10px;
    width:45px;
    height:40px;
    position: relative;
    border-radius: 50%;
    background-color: #fff;
}
.videos__photo img{
   position: absolute;
   top:50%;
   left:50%;
   transform: translate(-50%,-50%);
   width:75%;
   height: 70%;
}
.videos__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: auto;
}
.videos__title {
    overflow: hidden;
    display: inline-block;
    max-width:200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    color:black;
    transition: all 0.5s ease-in-out;
    font-weight: 700;
}

.videos__title:hover,.videos__author:hover{
    color:rgb(100, 79, 219);
}

.videos__author {
    font-size:14px;
    color:rgb(189, 189, 189);
    margin-top:5px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.videos__setings {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
.videos__setings span{
    height:8px;
}


.videos__live{
    position: absolute;
    top:10px;
    left:10px;
    color:#fff;
    background-color: rgb(223, 25, 25);
    text-align: center;
    padding:5px;
    border-radius: 5px;
    font-size:16px;
}
.videos__views{
    position: absolute;
    text-align: center;
    bottom: 0;
    right:0;
    color:#fff;
    background-color: rgba(63, 62, 62, 0.438);
    padding:5px;
    border-radius: 5px;
    right: 10px;
    bottom: 10px;
}
/*********</Videos COMPONENT END>*********/

/*********<Footer COMPONENT START>*********/

.footer{
    padding:25px 0;
    margin-top:50px;
}
.footer__content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__content span{
    text-align: center;
    width:25px;
    height:25px;
    margin-left:10px;
    position: relative;
}
.footer__content span svg{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:90%;
    height:90%;
}


/*********</Footer COMPONENT END>*********/



@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  
 
  
    .carousel__viewport::-webkit-scrollbar {
    width: 0;
    } 
  
  
    
  
  
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .carousel {
    scrollbar-width: 0px;
    position: relative;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
    width: 90%;
    height: 400px;
    align-self: center;
    margin:50px 0 50px 0;
    max-width:900px;
  }
 

  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    
    background-color: #fff;

    counter-increment: item;
  }
  .carouserl__img{
      flex:1 1;
      position: relative;
      cursor: pointer;
      overflow: hidden;
  }
  .carouserl__img img{
      width:100%;
      height:100%;
      object-fit: cover;
  }
  .carouserl__img:hover .carouserl__img-overfloy{
        transform: translateY(0px);
  } 
  .carouserl__img-overfloy{
      transition: all 0.5s ease-in-out;
      position: absolute;
      transform: translateY(-500px);
      background-color: rgba(44, 44, 44, 0.267);
      z-index: 2;
      top:0;
      left:0;
      width:100%;
      height: 100%;
  }
  .carouserl__img-overfloy svg{
      color:#fff;
      width:45px;
      height:45px;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
  }

  .carouserl__info{
      flex:0 0;
      display: flex;
      flex-direction: column;
      padding:10px 10px 0 10px;
  }
  .carouserl__author{
      width:45px;
      height: 45px;
      position: relative;
      flex:1 0 45px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow:  0 0 5px 1px rgba(107, 107, 107, 0.685);
      margin-right:10px;
  }
  .carouserl__author img{
      width:70%;
      height: 70%;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
  }


  
  .carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
    display: flex;
    flex-direction: row;
  }
  
  .carouserl__firstLine{
      display: flex;
  }

  .carouserl__title-and-user h2{
        font-size: 17px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width:100px;
        color:black;
        transition: all 0.5s ease-in-out;
        font-weight: 700;
        cursor: pointer;
  }
  .carouserl__title-and-user h2:hover,.carouserl__title-and-user span:hover{
    color:rgb(100, 79, 219);

  }
  
  .carouserl__title-and-user span{
    font-size:14px;
    color:gray;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  
  .carouserl__description{
    color:rgb(94, 94, 94);
    margin-top:15px;
  }
  
  @media screen and (max-width:800px) {
    .carousel{
        
    }
    .carouserl__info{
        display: none;
    }
}


 
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: -30px;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  